<div class="card">
    <div class="card-header text-center">
        <a href="/" style="text-decoration: none; color: black;">Expense Tracker Application</a>
    </div>
    <div class="card-body">
        <!---Flash messeges-->
        <% if notice%>
        <p class="notice alert alert-danger">
            <%= notice %>
        </p>
        <% end %>
        <% if alert %>
        <p class="alert alert-danger">
            <%= alert %>
        </p>
        <% end %>
        <!---Flash messeges-->
        <h5 class="card-title">
            <a href="/" style="text-decoration:none">
                <i class="bi bi-arrow-left-short"></i></a>
            Login to your account</h5>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
            <%= f.label :email, class: "form-label" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>
        <div class="field">
            <%= f.label :password, class: "form-label" %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>
        <% if devise_mapping.rememberable? %>
        <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
        </div>
        <% end %>
        <div class="field">
            <%= link_to "Forgot your password?", new_password_path(resource_name)   %>
        </div>
        <%= f.submit "Log in", class: "btn btn-primary mt-3" %>
        <a href="/users/sign_up" class="btn btn-primary mt-3">Create Account</a>
        <% end %>
    </div>
</div>