<%= render partial: 'layouts/shared/navbar'%>
<hr>
<h4 class="text-primary">
    <%= link_to '<i class="bi bi-arrow-left-short text-info"></i>'.html_safe, dashboard_index_path,
                  method: :get%>
    Create Expense
</h4>
<%= form_with model: @transaction do |form| %>
<div>
    <%= form.label :Transaction_Description %><br>
    <%= form.text_field :description, class: "form-control" %><br>
    <% @transaction.errors.full_messages_for(:description).each do |message| %>
    <div>
        <%= message %>
    </div>
    <% end %>
</div>
<% if false %>
<div>
    <%= form.label :Transaction_Category %><br>
    <%= form.select :category, [
                    ["Food", "food"], 
                    ["Transport", "transport"],
                    ["Entertainment", "Entertainment"],
                    ["Rent", "Entertainment"],
                    ["Shopping", "Entertainment"],

        ], {}, class: "form-select"%><br>
    <% @transaction.errors.full_messages_for(:category).each do |message| %>
    <div>
        <%= message %>
    </div>
    <% end %>
</div>
<% end%>
<div>
    <%= form.label :Amount %><br>
    <%= form.number_field :amount, class: "form-control" %><br>
    <% @transaction.errors.full_messages_for(:amount).each do |message| %>
    <div>
        <%= message %>
    </div>
    <% end %>
</div>
<div>
    <%= form.label :Date %><br>
    <%= form.datetime_field :date, class: "form-control" %><br>
    <% @transaction.errors.full_messages_for(:date).each do |message| %>
    <div>
        <%= message %>
    </div>
    <% end %>
</div>
<div>
    <%= form.submit "Add Expense", class: "btn btn-primary" %>
</div>
<% end %>